@import "variables";
.dp-container {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    box-shadow: 0 2px 6px #ccc;
    color: #48576a;
    width: 252px;
    overflow: hidden;
    line-height: 20px;
    border-radius: 2px;
    font-size: 12px;
    padding: 10px;
    box-sizing: border-box;
    -webkit-user-select: none;
    svg {
        display: block;
        width: 24px;
        height: 24px;
    }
    path {
        fill: #48576a;
    }
    table {
        width: 100%;
    }
    .dp-prev,
    .dp-next {
        cursor: pointer;
        &:hover {
            background: $tdHover;
            path {
                fill: $mainColor;
            }
        }
    }
    td {
        text-align: center;
        color: #ccc;
        &.pick {
            color: #48576a;
            cursor: pointer;
        }
        &.pick:not(.current):not(.disalbed):hover {
            background: $tdHover;
        }
        &.disalbed {
            background: #f4f4f4;
            cursor: not-allowed;
            color: #ccc;
        }
        &.current {
            background: $mainColor;
            color: white;
        }
        &.range {
            background: $range;
        }
        &.today {
            color: $mainColor;
            position: relative;
            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                border-top: 0.5em $mainColor solid;
                border-left: 0.5em transparent dashed;
            }
        }
    }
    .dp-hd {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .dp-curr {
        display: flex;
        align-items: center;
        justify-content: center;
        & > div {
            padding: 0 5px;
            cursor: pointer;
            &:hover {
                color: $mainColor;
            }
        }
    }
    .dp-date-table,
    .dp-month-table,
    .dp-year-table {
        td {
            height: 32px;
            line-height: 32px;
        }
    }
    .dp-date-table {
        td {
            width: 32px;
        }
        .week {
            color: #999;
        }
    }
    .dp-month-table {
        td {
            width: 33.333%;
        }
    }
    .dp-year-table {
        td {
            padding: 5px 0;
            width: 25%;
        }
    }
    .dp-ft {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            cursor: pointer;
            outline: none;
            flex: 1;
            background: none;
            border: 1px #eee solid;
            -webkit-appearance: none;
            padding: 5px 0;
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
    &.dp-show {
        transform-origin: top center;
        animation: show 0.2s;
    }
    &.dp-hidden {
        transform-origin: top center;
        animation: hidden 0.2s;
    }
}

@keyframes show {
    from {
      transform: scale(1, 0);
    }
    to {
      transform: scale(1, 1);
    }
}

@keyframes hidden {
    from {
      transform: scale(1, 1);
    }
    to {
      transform: scale(1, 0);
    }
}
